@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: $favColor;
}

.card-img-top {
  max-width: 190px;
  border-radius: 50%;
}
.card {
  margin: 2px;
  width: 190px;
  background-color: #505050;
}

.sharkTank {
  background-image: url('./images/shark.jpg');
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  object-fit: cover;
}

.graveYard {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #293514;
}
.graveStone {
  position: relative;
  margin: 20px;
  padding: 2px;
  background-image: url('./images/headstone.jpg');
  height: 200px;
  min-width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(30px 10px 4px #000);
}

.name {
  position: absolute;
  top: 80px;
  left: 22px;
  font-size: 15px;
  color: black;
}
