@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: $favColor;
}

.card-img-top {
  max-width: 190px;
}
.card {
  margin: 2px;
  width: 190px;
}

.sharkTank {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.graveYard {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.graveStone {
  background-image: url('./images/headstone.jpg');
  height: 200px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}
